<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>flower shop</title>
</head>
<frameset rows="30%,70%">
	<frame src="index1.html" name="top">

             <frameset cols="20%,60%,20%">
	    <frame src="index2.html" name="bottom_left">

                 <frameset rows="50%,50%">
		<frame src="index3.html" name="bottom_middle_top">
		<frame src="index4.html" name="bottom_middle_bottom">
                 </frameset>

                 <frame src="index5.html" name="bottom_right" >
             </frameset> 
</frameset>
</html>

